<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Catalog App{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    {% block head_assets %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-default">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('index')}}">Catalog App</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <span class="navbar-text">
                                    Logged in as <strong>{{current_user.nickname}}</strong>
                                </span>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-info nav-link" href="{{url_for('logout')}}">Log out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="btn btn-info nav-link" href="{{url_for('login')}}">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>
    {% block js_assets %}{% endblock %}
</body>
</html>
