{% extends "layouts/default.html" %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <h6>Categories</h6>
            <ul class="nav flex-column">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('createCatalog')}}"><strong>Add a category</strong></a>
                    </li>
                {% endif %}
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('catalogItems', slug=category.slug)}}">{{category.name}} ({{category.items|length}})</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
